@charset "UTF-8";
::-webkit-input-placeholder {
  color: red;
}
::-moz-placeholder {
  color: red;
}
:-ms-input-placeholder {
  color: red;
}
::placeholder {
  color: red;
}
input::-webkit-input-placeholder {
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  letter-spacing: normal;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  padding: 0;
}
input::-moz-placeholder {
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  letter-spacing: normal;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  padding: 0;
}
input:-ms-input-placeholder {
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  letter-spacing: normal;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  padding: 0;
}
input::placeholder {
  font-family: sans-serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  letter-spacing: normal;
  line-height: normal;
  text-align: inherit;
  text-decoration: inherit;
  padding: 0;
}

input {
  appearance: none;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  outline: 0;
  width: 100%;
}

/*输入框美化*/
.jpinput {
  height: 40px;
  padding: 10px 16px;
  transition: transform 225ms ease-in-out;
  background: #fff;
  color: #4F4137;
}
.jpinput::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  color: rgba(79, 65, 55, 0.5);
}
.jpinput::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  color: rgba(79, 65, 55, 0.5);
}
.jpinput:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  color: rgba(79, 65, 55, 0.5);
}
.jpinput::placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  color: rgba(79, 65, 55, 0.5);
}

.jpinput::-webkit-input-placeholder[style*=hidden] {
  transform: translateY(-40px);
  opacity: 1;
  visibility: visible !important;
  color: #fff;
}

.slabel {
  border: 0;
  radius: 0;
  padding: 0;
  font: inherit;
  bg: white;
  label-bg: white;
  label-color: inherit;
  error-color: #E82C0C;
  placeholder-color: #B9E0D6;
  success-color: #5C832F;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+);
    background-position: right 0 top 50%;
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=placeholder.css.map */
