@import "../comon/sassMixins";

.border_radius {
    @include css3(transition, 0.5s);
    @include css3(border-radius, 5px);
    width: 100px;
    height: 30px;
    background-color: rebeccapurple;
}

.page-wrap {
    background-color: aquamarine;
    border: 1px solid gray;
    height: 20px;
    width: 75%;

    @include breakpoint(large) {
        width: 60%;
    }

    @include breakpoint(medium) {
        width: 80%;
    }

    @include breakpoint(small) {
        width: 95%;
    }
}
